<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hng.small.dal.user.UserDAO">
    <resultMap id="resultMap" type="com.hng.small.model.dataobject.User">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_person" property="createPerson"/>
        <result column="update_person" property="updatePerson"/>
    </resultMap>
    <sql id="queryColumns">
        id,
        user_name,
        password,
        create_time,
        update_time,
        create_person,
        update_person
    </sql>
    <sql id="queryParams">
        <trim prefix=" WHERE " prefixOverrides="AND|OR">
            <if test="userName != null and userName != ''">
                AND user_name like "%"#{userName}"%"
            </if>
        </trim>
    </sql>
    <!--根据ID获取对应的值  -->
    <select id="findById" parameterType="int" resultMap="resultMap">
        select
        <include refid="queryColumns"/>
        from user_t where id = #{id}
    </select>
    <!--<insert id="addUser" parameterType="com.hng.small.model.dataobject.User">-->
        <!--insert into user_t(user_name,password) values(#{username},#{password})-->
    <!--</insert>-->

    <insert id="insert" parameterType="com.hng.small.model.dataobject.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into user_t(id, user_name,password,create_time,
    		update_time,
    		create_person,
    		update_person) values(#{id}, #{userName},#{password},now(),
    		now(),
    		#{createPerson},
    		#{updatePerson})
    </insert>

    <!--根据ID获取对应的值  -->
    <select id="findListByQuery" parameterType="com.hng.small.dal.query.UserQuery" resultMap="resultMap">
        select
        <include refid="queryColumns"/>
        from user_t
        <include refid="queryParams"/>
    </select>
</mapper>